@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-[url('../public/images/marble.jpg')] bg-no-repeat bg-cover bg-center bg-fixed text-[black] font-Antic; */
    @apply bg-[white] bg-no-repeat bg-cover bg-center bg-fixed text-[black];
  }
}

* {
  font-family: "Gill Sans MT";
  /* font-weight: 100; */
}

/* :root {
  --primary: #fd839f;
  --second: red;
} */

/* #e7a7b6 */
